{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Registrarse en Torneind{% endblock %}
{% block body %}
    <body id="boby-registro">
    <div class="container-fluid">
        <div class="d-flex row2 mb-5">
            <div class="col-4">
                <form class="targeta-registrarse p-3" method="post" novalidate>
                    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                    <div class="contenido">
                        <h1 class="texto-no-torneos text-center">ยก REGISTRARSE !</h1>
                        <div class="mb-3 form-label">
                            {{ form_row(form.nombre) }}
                        </div>

                        <div class="mb-3 form-label">
                            {{ form_row(form.correo) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.contrasenya.first) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.contrasenya.second) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.captcha) }}
                        </div>

                        <div class="text-center mb-3 mt-5 botons">
                            <button type="submit" class="btn btn-dark boton-empezar-jugar mb-1"><i class="fa fa-sign-in" aria-hidden="true"></i> Empezar a jugar </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
