{% extends 'base.html.twig' %}
{% block title %}Torneo 👁️‍{% endblock %}
{% block body %}
<body>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-1"></div>
        <div class="col-5">
            <img class="img-fluid" src="{{ asset( posters_dir  ~ '/'~ torneo.imagen) }}">
        </div>
        <div class="col-5 text-center">
            <h1 class="texto-no-torneos">Ver torneo </h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ torneo.nombre }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ torneo.descripcion }}</td>
                </tr>
                <tr>
                    <th>Modalidad</th>
                    <td>{{ torneo.modalidad.modalidad }}</td>
                </tr>
                <tr>
                    <th>Plataforma</th>
                    <td>{{ torneo.plataforma.plataforma }}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{ torneo.fecha ? torneo.fecha|date('Y-m-d') : '' }} -- {{ torneo.fecha ? torneo.fecha|date('H:m') }}</td>
                </tr>
                <tr>
                    <th>Ganador</th>
                    <td></td>
                    <td>El torneo aún no ha terminado.</td>
                </tr>
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('torneo_winer', {'id': torneo.id}) }}"><button type="button" class="btn btn-success mb-2"><i class="fas fa-trophy-alt iconos-font"></i> Dar ganador</button></a>
            {% endif %}
            <a href="{{ path('torneo_index') }}"> <button type="button" class="btn btn-dark mb-2"><i class="fas fa-arrow-circle-left"></i> Volver atrás</button></a>
            {% if (app.user) %}
            <a href="{{ path('inscripcion_new', {'id': torneo.id}) }}"> <button type="button" class="btn btn-primary mb-2"><i class="fas fa-gamepad"></i> Inscribírse</button></a>
            {% else %}
            <a href="{{ path('login') }}"> <button type="button" class="btn btn-primary mb-2"><i class="fas fa-gamepad"></i> Inscribírse</button></a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('torneo_edit', {'id': torneo.id}) }}"><button type="button" class="btn btn-warning mb-2"><i class="fas fa-pencil-alt iconos-font"></i> Editar torneo</button></a>
            {{ include('torneo/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10 text-center texto-no-torneos">
        PARTIDA EN DIRECTO
            {% if (torneo.retransmision) %}
            <iframe width="1280" height="720" src="{{ torneo.retransmision }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
                <h1 class="texto-no-torneos text-danger"> ¡ NO SE ESTA JUGANDO EL TORNEO ! </h1>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>

{% endblock %}
